<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>threejsのテスト</title>
		<link href="/css/edit.css" rel="stylesheet">
	</head>
	<body>
		<!-- <img src="/images/loseumLogo.png" id="logo"> -->
		<div class="header">
			<h2>WORLD EDIT</h2>
		</div>
		<div class="uplaodArea">
			<form method="post" name="image" enctype="multipart/form-data" action="/upload" id="js-imageForm" class="js-uplaodFile">
				<input type="file" name="image">
			</form>
			<input type="text" placeholder="make 3Dtext" id="js-3dText">
			<input type="number" value="8" id="js-3dTextSize">
			<input type="button" value="make!" id="js-makeText">
		</div>
		<div id="js-objectManager" class="objectManager">
			<h3 class="objectManagerTitle">オブジェクトマネージャ</h3>
			<ul class="objectList js-objectList">
			</ul>
		</div>
		<div id="field">
		</div>
		<script src="/js/three.min.js"></script>
		<script src="/js/MTLLoader.js"></script>
		<script src="/js/OBJMTLLoader.js"></script>
		<script src="/js/threex.geometricglowmesh.js"></script>
		<script src="/js/threex.dilategeometry.js"></script>
		<script src="/js/threex.geometricglowmesh.js"></script>
		<script src="/js/threex.atmospherematerialdatgui.js"></script>
		<script src="/js/threex.atmospherematerial.js"></script>
		<script src="/js/helvetiker_bold.typeface.js"></script>
		<script src="/js/edit.js"></script>
	</body>
</html>