<!DOCTYPE>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>threejsのテスト</title>
		<link href="/css/top.css" rel="stylesheet">
	</head>
	<body>
		<img src="/images/loseumLogo.png" id="logo">
		<div id="gd-layer"></div>
		<div id="field">
		</div>
		<script src="/js/three.min.js"></script>
		<script src="/js/MTLLoader.js"></script>
		<script src="/js/OBJMTLLoader.js"></script>
		<script src="/js/perlin-noise-simplex.js"></script>
		<script src="/js/top.js"></script>
	</body>
</html>