* {
  margin: 0px;
  padding: 0px;
  text-align: center; }

html, body {
  width: 100%;
  height: 100%; }

a {
  color: #00B7FF; }

#logo {
  position: absolute;
  z-index: 5; }

#gd-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 4;
  height: 100%;
  width: 100%;
  background: url(/images/top-gd.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#field {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1; }
