* {
	margin: 0px;
	padding: 0px;
	text-align: center;
};

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	background: #dfdfdf;
	z-index: 5;
	line-height: 50px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
};

.uplaodArea {
	position: absolute;
	top: 50px;
	left: 0px;
	height: 40px;
	width: 100%;
	background: #aabbbb;
	z-index: 4;
};

.is-selected {
	background-color: #ffcccc !important;
}

$infoWidth: 300px;
.objectManager {
	position: relative;
	top: 90px;
	float: right;
	height: 400px;
	width: $infoWidth;
	z-index: 2;
	background-color: #aaaaaa;
	overflow: scroll;
	.objectManagerTitle {
		width: $infoWidth;
		height: 34px;
		line-height: 34px;
		background-color: #dddddd;
	}
	.objectList {
		.objectInfo {
			margin-top: 3px;
			list-style: none;
			height: 40px;
			width: $infoWidth;
			background-color: #cccccc;
			.hide {
				background-color: #ffddcc;
				height: 40px;
				width: 40px;
			}
			.name {
				width: 260px;
				height: 40px;
				line-height: 40px;
				background-color: #dfdfdf;
				overflow: hidden;
				&:hover {
					opacity: 0.4;
				}
			}
		}
		.objectInfo:first-child {
			margin-top: 0px;
		}
	}
}

.fl {
	float: left;
}

#field {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1;
};